streamlit==1.39.0
requests==2.32.3
python-dotenv==1.0.1
mysql-connector-python==9.0.0
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.32
dataclasses-json==0.6.7
# Optional / future:
# Flask==3.0.3
# PyMySQL==1.1.1
